.what-else--item {
  position: relative;
  margin-bottom: 1em;
}

.what-else--h4 {
  margin-bottom: 0.2em;
}

.what-else--content {
  margin-left: 1.5em;
}

.what-else--tick {
  position: absolute;
  top: 0;
  left: 0;
}

.skill.btn:not(:disabled):not(.disabled) {
  margin-bottom: 2em;
  cursor: default;
}

.skill.btn + .btn {
  margin-left: 1.85714286em;
}

[data-scrim-top="5"]:before {
  opacity: 0.99;
  background: linear-gradient(to bottom, #252525 0%, rgba(0, 0, 0, 0.5) 100%);
}


.notification.notification-email {
  min-width: 100px;
  z-index: 100;
  width: auto;
}

.notification > .boxed {
  padding-right: 40px;
}

.fine-print-wrapper {
  text-align: left;
}

@media (max-width: 767px) {
  footer .social-list {
      margin: 0;
  }

  .footer-7 .social-list {
      margin-top: 0;
  }
}

@media (max-width: 575px) {
  .fine-print-wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .social-list {
    text-align: right;
  }

  .social-list-wrapper {
    text-align: right;
  }
}
