.what-else--item {
  position: relative;
  margin-bottom: 1em;
}

.what-else--h4 {
  margin-bottom: 0.2em;
}

.what-else--content {
  margin-left: 1.5em;
}

.what-else--tick {
  position: absolute;
  top: 0;
  left: 0;
}

.skill.btn:not(:disabled):not(.disabled) {
  margin-bottom: 2em;
  cursor: default;
}

.skill.btn + .btn {
  margin-left: 1.85714286em;
}

[data-scrim-top="5"]:before {
  opacity: 0.2;
  background: linear-gradient(to top, #252525 0%, rgba(0, 0, 0, 0.1) 100%);
}


.notification.notification-email {
  min-width: 100px;
  z-index: 100;
  width: auto;
}

.notification > .boxed {
  padding-right: 40px;
}

.fine-print-wrapper {
  text-align: left;
}

@media (max-width: 767px) {
  footer .social-list {
      margin: 0;
  }

  .footer-7 .social-list {
      margin-top: 0;
  }
}

@media (max-width: 575px) {
  .fine-print-wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .social-list {
    text-align: right;
  }

  .social-list-wrapper {
    text-align: right;
  }
}

.project-thumb.hover-element .hover-element__reveal {
  position: relative;

}
.project-thumb.hover-element .hover-element__reveal .project-thumb__title {
  background: #252525;
  opacity: 0.8;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  display: block;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.project-thumb.hover-element:hover .hover-element__reveal .project-thumb__title{
  height: 100%;
}

.project-thumb.border--round > .thumb-wrapper {
    border-radius: 6px;
    overflow: hidden;
}
.project-thumb.hover-element > .thumb-wrapper {
    height: 24.14285714em;
    text-decoration: none;
    font-weight: normal;
}
.project-thumb > .thumb-wrapper {
    display: block;
}

.project-thumb.hover-element .hover-element__reveal .project-thumb__title h4 {
  padding-bottom: 20px;
}

.project-thumb.hover-element .hover-element__reveal .project-thumb__title a {
  color: white;
  font-weight: normal;
  text-decoration: underline;
}

.project-links {
  margin-top: 15px;
}

.project-links a {
  display: block;
}

@media (max-width: 767px) {
  .btn--lg.skill {
    padding-right: 1em;
    padding-left: 1em;
  }

  .skill.btn + .btn {
    margin-left: 1em;
  }
}
